[submodule "tetravex"]
	path = tetravex
	branch = gh-pages
	url = https://github.com/miguel-rivas/tetravex
[submodule "svg-101"]
	path = svg-101
	branch = gh-pages
	url = https://github.com/miguel-rivas/svg-101
[submodule "css-study"]
	path = css-study
	branch = gh-pages
	url = https://github.com/miguel-rivas/css-study
[submodule "html-love"]
	path = html-love
	branch = gh-pages
	url = https://github.com/miguel-rivas/html-love
[submodule "presidente-retro-brindis"]
	path = presidente-retro-brindis
	branch = gh-pages
	url = https://github.com/miguel-rivas/presidente-retro-brindis
[submodule "presidente-verano-2015"]
	path = presidente-verano-2015
	branch = gh-pages
	url = https://github.com/miguel-rivas/presidente-verano-2015
[submodule "presidente-destapa-coro"]
	path = presidente-destapa-coro
	branch = gh-pages
	url = https://github.com/miguel-rivas/presidente-destapa-coro
[submodule "presidente-photo-2014"]
	path = presidente-photo-2014
	branch = gh-pages
	url = https://github.com/miguel-rivas/presidente-photo-2014
[submodule "capital-dbg-server-prompt"]
	path = capital-dbg-server-prompt
	branch = gh-pages
	url = https://github.com/miguel-rivas/capital-dbg-server-prompt
[submodule "main-front"]
	path = main-front
	branch = gh-pages
	url = https://github.com/miguel-rivas/main-front
[submodule "descubria"]
	path = descubria
	branch = gh-pages
	url = https://github.com/miguel-rivas/descubria
[submodule "voxel-animation"]
	path = voxel-animation
	branch = gh-pages
	url = https://github.com/miguel-rivas/voxel-animation
[submodule "flat-css"]
	path = flat-css
	branch = gh-pages
	url = https://github.com/miguel-rivas/flat-css
[submodule "hello"]
	path = hello
	branch = gh-pages
	url = https://github.com/miguel-rivas/hello
[submodule "test-pixel-perfect-tree"]
	path = test-pixel-perfect-tree
	branch = gh-pages
	url = https://github.com/miguel-rivas/test-pixel-perfect-tree
[submodule "matryoshka"]
	path = matryoshka
	url = https://github.com/miguel-rivas/matryoshka
	branch = gh-pages