[submodule "tetravex"]
	path = tetravex
	branch = gh-pages
	url = https://github.com/miguel-rivas/tetravex
[submodule "svg-101"]
	path = svg-101
	branch = gh-pages
	url = https://github.com/miguel-rivas/svg-101
[submodule "css-study"]
	path = css-study
	branch = gh-pages
	url = https://github.com/miguel-rivas/css-study
[submodule "presidente-retro-brindis"]
	path = presidente-retro-brindis
	branch = gh-pages
	url = https://github.com/miguel-rivas/presidente-retro-brindis
[submodule "presidente-photo-2014"]
	path = presidente-photo-2014
	branch = gh-pages
	url = https://github.com/miguel-rivas/presidente-photo-2014
[submodule "main-front"]
	path = main-front
	branch = gh-pages
	url = https://github.com/miguel-rivas/main-front
[submodule "hello"]
	path = hello
	branch = gh-pages
	url = https://github.com/miguel-rivas/hello
[submodule "test-pixel-perfect-tree"]
	path = test-pixel-perfect-tree
	branch = gh-pages
	url = https://github.com/miguel-rivas/test-pixel-perfect-tree
[submodule "matryoshka"]
	path = matryoshka
	url = https://github.com/miguel-rivas/matryoshka
	branch = gh-pages