[submodule "svg-101"]
	path = svg-101
	branch = gh-pages
	url = https://github.com/miguel-rivas/svg-101
[submodule "matryoshka"]
	path = matryoshka
	url = https://github.com/miguel-rivas/matryoshka
	branch = gh-pages